@page
@model WebApplication.Pages.PettyCash.DeleteModel

@{
    ViewData["Title"] = "Delete Petty Cash";
}

    <div class="border container" style="padding:30px;">
        <div class="alert alert-danger" role="alert">
            Are you sure you want to delete this?
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.PettyCashRequests.Date)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PettyCashRequests.Description)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PettyCashRequests.Amount)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PettyCashRequests.CurrencyType)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PettyCashRequests.Employee)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PettyCashRequests.StatusType)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.PettyCashRequests.Date)</td>
                    <td>@Html.DisplayFor(model => model.PettyCashRequests.Description)</td>
                    <td>@Html.DisplayFor(model => model.PettyCashRequests.Amount)</td>
                    <td>@Html.DisplayFor(model => model.PettyCashRequests.CurrencyType.Name)</td>
                    <td>@Html.DisplayFor(model => model.PettyCashRequests.Employee.FirstName)</td>
                    <td>@Html.DisplayFor(model => model.PettyCashRequests.StatusType.Name)</td>
                </tr>
            </tbody>
        </table>
        <form method="post">
            <div class="form-group row mt-5">
                <div class="col-2">
                    <input type="hidden" asp-for="PettyCashRequests.Id" />
                    <input type="submit" value="Delete" class="btn btn-outline-danger form-control" />
                </div>
                <div class="col-2">
                    <a asp-page="./Index" class="btn btn-outline-secondary">Back</a>
                </div>
            </div>
        </form>
    </div>