@page
@model WebApplication.Pages.PettyCash.IndexModel

@{
    ViewData["Title"] = "Request List";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Petty Cash Request</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Create New Request</a>
    </div>
</div>
<div class="col-12 border p-3 mt-3">
    @if (Model.PettyCashRequests.Count() > 0)
    {
        <div class="alert alert-success">
            Available requests...
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Employee</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pettyCashRequest in Model.PettyCashRequests)
                {


                    <tr>
                        <td>
                            @pettyCashRequest.Date.ToLongDateString()
                        </td>
                        <td>
                            @pettyCashRequest.Description
                        </td>
                        <td>
                            @pettyCashRequest.Amount.ToString("c")
                        </td>
                        <td>
                            @pettyCashRequest.CurrencyType.Name
                        </td>
                        <td>
                            @pettyCashRequest.Employee.FirstName
                        </td>
                        <td>
                            @pettyCashRequest.StatusType.Name
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@pettyCashRequest.Id" class="btn btn-outline-secondary">Edit</a>
                            <a asp-page="./Details" asp-route-id="@pettyCashRequest.Id" class="btn btn-outline-success">Details</a>
                            <a asp-page="./Delete" asp-route-id="@pettyCashRequest.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning">
            No petty cash request available...
        </div>
    }
</div>

